<template>
    <v-dialog
        persistent
        v-model="dialog"
        width="800">

        <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="success"
                dark
                depressed
                v-bind="attrs"
                v-on="on">
                Add Post
            </v-btn>
        </template>

        <v-card>
            <v-card-title class="headline grey lighten-2">
                Create New Post
            </v-card-title>

            <v-card-text class="pt-6">

                <v-text-field 
                    v-model="form.title"
                    outlined 
                    label="Title"></v-text-field>

                <v-textarea 
                    v-model="form.body"
                    outlined 
                    label="Body"></v-textarea>

                <v-text-field 
                    v-model="form.author"
                    outlined 
                    label="Author"></v-text-field>

            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="error"
                    text
                    @click="dialog = false">
                    Cancel
                </v-btn>
                <v-btn
                    color="success" 
                    :disabled="isInvalidForm()"
                    depressed
                    @click="save">
                    Add
                </v-btn>
                
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    import { mapActions } from 'vuex'

    export default {
        name: 'AddPost',

        data () {
            return {
                dialog: false,
                form: {
                    title: '',
                    body: '',
                    author: ''
                }
            }
        },

        methods: {
            ...mapActions('post', ['addPost']),

            async save() {
                await this.addPost(this.form)
                this.$store.commit('toggleSnackbar', { text: 'You have succesfully added a new post or blog', color: 'success'})
                this.dialog = false
            },

            isInvalidForm() {
                let isInvalid = Object.keys(this.form).filter( field => {
                    return this.form[field].length === 0
                })
                return isInvalid.length === 0 ? false : true
            }
        },

        watch: {
            dialog: {
                handler (val) {
                    if (this.dialog === false) {
                        this.form.title = ''
                        this.form.body = ''
                        this.form.author = ''
                    }
                },
                deep: true
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>