<template>
    <v-dialog
        persistent
        v-model="dialog"
        width="800">

        <template v-slot:activator="{ on, attrs }">
            <v-icon
                color="error"
                @click="dialog = true">
                mdi-delete
            </v-icon>
        </template>

        <v-card>
            <v-card-title class="headline grey lighten-2">
                Delete Post
            </v-card-title>

            <v-card-text class="pt-6">

                <p>
                    Are you sure you want to delete this blog?
                </p>

            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="error"
                    text
                    @click="dialog = false">
                    Cancel
                </v-btn>
                <v-btn
                    color="success" 
                    
                    depressed
                    @click="removePost">
                    Delete
                </v-btn>
                
            </v-card-actions>
            
        </v-card>
    </v-dialog>
</template>

<script>

    import { mapActions } from 'vuex'
    
    export default {
        name: 'DeletePost',

        props: {
            blog: {
                type: Object,
                default: ''
            }
        },

        data() {
            return {
                dialog: false
            }
        },

        methods: {
            ...mapActions('post', ['deletePost']),

            async removePost() {
                await this.deletePost(this.blog.id)
                this.$store.commit('toggleSnackbar', { text: 'You have succesfully deleted a blog!', color: 'success'})
                this.dialog = false
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>