<template>
    <v-dialog
        persistent
        v-model="dialog"
        width="800">

        <template v-slot:activator="{ on, attrs }">
            <v-icon
                color="success"
                class="mr-2"
                @click="dialog = true">
                mdi-pencil
            </v-icon>
        </template>

        <v-card>
            <v-card-title class="headline grey lighten-2">
                Create New Post
            </v-card-title>

            <v-card-text class="pt-6">

                <v-text-field 
                    v-model="selectedPost.title"
                    outlined 
                    label="Title"></v-text-field>

                <v-textarea 
                    v-model="selectedPost.body"
                    outlined 
                    label="Body"></v-textarea>

                <v-text-field 
                    v-model="selectedPost.author"
                    outlined 
                    label="Author"></v-text-field>

            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="error"
                    text
                    @click="dialog = false">
                    Cancel
                </v-btn>
                <v-btn
                    color="success" 
                    :disabled="isInvalidForm()"
                    depressed
                    @click="save">
                    Save
                </v-btn>
                
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script>

    import { mapActions } from 'vuex'

    export default {
        name: 'EditPost',

        props: {
            blog: {
                type: Object,
                default: ''
            }
        },

        data () {
            return {
                dialog: false,
                selectedPost: {}
            }
        },

        methods: {
            ...mapActions('post', [
                'getPost',
                'updatePost',
                'getPosts'
            ]),

            async save() {
                await this.updatePost(this.selectedPost)
                this.$store.commit('toggleSnackbar', { text: 'You have succesfully Updated a post or blog', color: 'success'})
                this.dialog = false
                await this.getPosts()
            },

            isInvalidForm() {
                let isInvalid = Object.keys(this.selectedPost).filter( field => {
                    return this.selectedPost[field].length === 0
                })
                return isInvalid.length === 0 ? false : true
            }
        },

        watch: {
            dialog: {
                async handler (val) {
                    if (this.dialog === true) {
                        this.selectedPost = await this.getPost(this.blog.id)
                    }
                },
                deep: true
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>