<template>
    <v-footer
        :absolute="!fixed">
        <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer',

        data() {
            return {
                fixed: true
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>