<template>
    <v-snackbar
       v-model="settings.snackbar"
        :color="settings.color"
        :top="settings.y === 'top'"
        :bottom="settings.y === 'bottom'"
        :left="settings.x === 'left'"
        :right="settings.x === 'right'"
        :timeout="settings.timeout"
        :vertical="settings.mode === 'vertical'"
        :multi-line="settings.mode === 'multi-line'">
        {{ settings.text }}
        <template v-slot:action="{ attrs }">
            <v-btn
                :color="settings.color"
                fab depressed x-small
                v-bind="attrs"
                @click="close">
                <v-icon>mdi-close</v-icon>
            </v-btn>
        </template>
    </v-snackbar>
</template>

<script>

    import { mapState, mapMutations } from 'vuex'

    export default {
        name: 'Snackbar',

        computed: {
            ...mapState({settings: 'notification_settings'})
        },

        methods: {
            ...mapMutations(['forceCloseQuickMessage']),
            close() {
                this.forceCloseQuickMessage()
            }
        },
         
        watch: {
            'settings.snackbar': {
                handler(val) {
                    let _s = this
                    if (val == true) {
                        setTimeout( () => {
                            this.forceCloseQuickMessage()                            
                        }, this.settings.timer)
                    }
                },
                deep: true
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>