<template>
    <v-app>

        <v-navigation-drawer
            v-model="drawer"
            :mini-variant="miniVariant"
            :clipped="clipped"
            fixed
            app>
            <v-list>
                <v-list-item
                    v-for="(item, i) in navigation_items"
                    :key="i"
                    :to="item.to"
                    router
                    exact>
                    <v-list-item-action>
                        <v-icon>{{ item.icon }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title v-text="item.title" />
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
            :clipped-left="clipped"
            fixed
            app>

            <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

            <v-toolbar-title v-text="title" />

            <v-spacer />

        </v-app-bar>

        <v-main>
            <v-container>
                <nuxt />
            </v-container>
        </v-main>        

        <Footer />
        <Snackbar />

    </v-app>
</template>

<script>

    import { mapGetters } from 'vuex'
    import Footer from '~/components/base/Footer'
    import Snackbar from '~/components/base/Snackbar'

    export default {

        components: { Footer, Snackbar },

        computed: {
            ...mapGetters(['navigation_items'])
        },

        data () {
            return {
                clipped: false,
                drawer: false,
                miniVariant: false,
                title: 'Crud Test'
            }
        }
    }
</script>
