<template>
    <v-layout>
        <v-flex>

            <v-app-bar
                dense
                light
                dark
                color="primary darken-2"
                class="elevation-0">
                
                <v-toolbar-title>Posts</v-toolbar-title>

                <v-spacer></v-spacer>

                <AddPost />

            </v-app-bar>

            <v-data-table
                :headers="headers"
                :items="blogPosts"
                :items-per-page="10"
                class="elevation-1">
                <template v-slot:item.actions="{ item }">
                    <EditPost :blog="item" />
                    <DeletePost :blog="item" />
                </template>
            </v-data-table>

        </v-flex>
    </v-layout>
</template>

<script>

    import AddPost from '@/components/blogs/AddPost'
    import DeletePost from '@/components/blogs/DeletePost'
    import EditPost from '@/components/blogs/EditPost'

    import { mapActions, mapGetters } from 'vuex'

    export default {

        name: 'Blogs',
        
        components: { AddPost, DeletePost, EditPost },

        computed: {
            ...mapGetters('post', ['blogPosts'])
        },

        async mounted() {
            await this.getPosts()
        },

        methods: {
            ...mapActions('post', ['getPosts'])
        },

        data () {
            return {
                headers: [
                    { text: 'ID', align: 'start', sortable: false, value: 'id', },
                    { text: 'Title', value: 'title' },
                    { text: 'Body', value: 'body' },
                    { text: 'Author', value: 'author' },
                    { text: 'Actions', value: 'actions' }
                ],
                desserts: [
                    {
                        name: 'Frozen Yogurt',
                        calories: 159,
                        fat: 6.0,
                        carbs: 24,
                        protein: 4.0,
                        iron: '1%',
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                        fat: 9.0,
                        carbs: 37,
                        protein: 4.3,
                        iron: '1%',
                    },
                    {
                        name: 'Eclair',
                        calories: 262,
                        fat: 16.0,
                        carbs: 23,
                        protein: 6.0,
                        iron: '7%',
                    },
                    {
                        name: 'Cupcake',
                        calories: 305,
                        fat: 3.7,
                        carbs: 67,
                        protein: 4.3,
                        iron: '8%',
                    },
                    {
                        name: 'Gingerbread',
                        calories: 356,
                        fat: 16.0,
                        carbs: 49,
                        protein: 3.9,
                        iron: '16%',
                    },
                    {
                        name: 'Jelly bean',
                        calories: 375,
                        fat: 0.0,
                        carbs: 94,
                        protein: 0.0,
                        iron: '0%',
                    },
                    {
                        name: 'Lollipop',
                        calories: 392,
                        fat: 0.2,
                        carbs: 98,
                        protein: 0,
                        iron: '2%',
                    },
                    {
                        name: 'Honeycomb',
                        calories: 408,
                        fat: 3.2,
                        carbs: 87,
                        protein: 6.5,
                        iron: '45%',
                    },
                    {
                        name: 'Donut',
                        calories: 452,
                        fat: 25.0,
                        carbs: 51,
                        protein: 4.9,
                        iron: '22%',
                    },
                    {
                        name: 'KitKat',
                        calories: 518,
                        fat: 26.0,
                        carbs: 65,
                        protein: 7,
                        iron: '6%',
                    },
                ],
            }
        }
    }
</script>
