<template>
    <v-layout
        column
        justify-center
        align-center>

        <v-flex xs12 sm8 md6>

            <div class="text-center py-6">
                <div class="display-1">SIMPLE CRUD EXAM</div>
            </div>

            <v-card>

                <v-card-title class="headline">
                    A simple app using Vuetify + NuxtJS
                </v-card-title>

                <v-card-text>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>                        
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.
                    </p>
                    <div class="text-xs-right">
                        <em><small>&mdash; Juan dela Cruz</small></em>
                    </div>

                    <hr class="my-3">
                    <p>Resources:</p>
                    <a
                        href="https://nuxtjs.org/"
                        target="_blank"
                        rel="noopener noreferrer">
                        Nuxt Documentation
                    </a>
                    <br>
                    <a
                        href="https://github.com/nuxt/nuxt.js"
                        target="_blank"
                        rel="noopener noreferrer">
                        Nuxt GitHub
                    </a>

                </v-card-text>

                <v-card-actions>
                <v-spacer />
                <v-btn
                    color="primary"
                    nuxt
                    to="/inspire">
                    Continue
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>

export default {
  
}
</script>
